* {
  font-family: sans-serif;
}

.card-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  padding: 10px;
  justify-content: space-around;
  box-sizing: border-box;
}


.card {
  width: 320px;
  min-height: 290px;
  background-color: rgb(248, 248, 250);
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 12px;
  box-sizing: border-box;
  transition: 0.2s ease;
}


.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  transform: translateY(-2px);
  cursor: pointer;
}

.menu-icon {
  position: absolute;
  top: 8px;
  right: 8px;
}

.align {
  display: flex;
  align-items: center;  
  gap: 14px;
  padding: 20px 10px 20px 10px;
}

img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid rgb(229, 226, 226);

  padding: 4px;
  flex-shrink: 0;
}

.name {
  flex: 1;
  min-width: 0; 
  overflow: hidden;
}

.name h2 {
  font-size: 18px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.name h4 {
  font-size: 14px;
  margin: 5px 0 0 0;
  color: rgb(80, 80, 80);

  white-space: normal;  
  overflow: visible;
  text-overflow: unset;
  word-break: break-word;
}

.content {
  padding: 10px;
}

.content h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 6px 0;
  padding: 5px;
  color: rgb(41, 61, 61);
}

.mdc-menu-surface {
  padding: 0 !important;
}

.mat-mdc-menu-item {
  min-height: 40px;
  margin: 0 !important;
  color: rgb(2, 2, 2) !important;
}

.card h3,
.card span {
  color: rgb(18, 18, 18);
  font-family:Arial, Helvetica, sans-serif;
}
.edit-box {
  width: 100%;
  margin-top: 10px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
}
.edit-box input {
  width: 85%;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}
.edit-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 50%;
}
.edit-actions button {
  flex: 1;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  height: 25px;
}
